# Protect application and system files from being viewed
<Files ~ "\.(env|json|php|sql|xml)$">
    Order allow,deny
    Deny from all
</Files>

<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>